@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box; /* Include padding and borders in width/height */
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif, Arial, Helvetica,;
  font-size: 14px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.observer {
  width: 100%; /* Match parent width */
  height: 1px; /* Minimal height to observe */
  overflow: hidden; /* Prevent overflow */
  position: absolute; /* Avoid affecting layout */
  bottom: 0;
}

.infinite-scroll-container {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
  margin: 0 auto; /* Center content if necessary */
}
/* globals.css */

.container1 {
  max-width: 100%; /* Full width by default */
  padding-left: 1rem;  /* Padding on the left */
  padding-right: 1rem; /* Padding on the right */
  margin-left: auto;   /* Center the container */
  margin-right: auto;  /* Center the container */
}

@media (min-width: 640px) {
  .container1 {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container1 {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container1 {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container1 {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container1 {
    max-width: 1536px;
  }
}



@keyframes slide3 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.slider-container3 {
  width: 100%;
}

.slider-content3 {
  width: 200%;
  
}

.animate-slider3 {
  animation: slide3 90s linear infinite;
}

.hover-black::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: -1;
  transition: left 0.3s ease;
}


/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollable-div::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
}

.scrollable-div::-webkit-scrollbar-track {
    background: #f1f0ee; /* Color of the track */
    border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background-color: #757373; /* Color of the scrollbar thumb (indicator) */
    border-radius: 10px; /* Optional: to round the thumb edges */
}

.div-email {
  text-decoration: none; /* Ensures there's no underline */
  border: none;          /* Removes any border */
  outline: none;         /* Ensures there's no outline */
}

@keyframes slide-loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.sliding-track {
  display: inline-flex;
  animation: slide-loop 300s linear infinite;
}

.two-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.reserve-two-lines {
  min-height: 3.5em; /* Roughly two lines of text at normal font size */
  line-height: 1.6em; /* or adjust based on your design */
}